.products-section {
  display: flex;
  align-items: center;
  gap: 15px;
  // flex-wrap: wrap;

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    width: 100%;
    height: 100%;
    max-width: 207px;
    max-height: 445px;

    .product__image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      max-width: 130px;
      min-width: 130px;
      max-height: 170px;
      min-height: 170px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .product__info {
      color: #000000;
      // min-width: 191px;
      // min-height: 232px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .product__name {
        margin: 18px 0 28px;
        min-height: 48px;
        max-height: 48px;
        font-weight: 400;
      }

      .product__old-price {
        line-height: 19px;
        text-decoration-line: line-through;
        color: #525252;
      }

      .product__price {
        color: #000000;
        font-weight: 600;
        font-size: 20px;
        margin: 10px 0;
      }

      .product_monthly-pay {
        color: #525252;
        font-size: 14px;
        line-height: 17px;
      }

      .btn {
        font-weight: 500;
        color: #ffffff;
        width: 115px;
        height: 40px;
        background: #4d96ff;
        border-radius: 6px;
        padding: 12px 10px;
        border: none;
        margin-bottom: auto;
        margin-top: 20px;

        &:active {
          background: #cccccc;
        }
      }
    }
  }
}
