.nav {
  padding: 14px 0;

  .container {


    .nav__menu {
      gap: 35px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
